.parallax {
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../img/orionnebula.jpg");
  text-align: center;
  color: white;
}

.parallax .title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.parallax #imgfoot {
  top: 0px;
  right: 0px;
  position: absolute;
  font-size: 10px;
}

.parallax #imgfoot a {
  color: white;
}

.color-layer {
  height: 100%;
  width: 100%;
  background-color: rgba(34, 163, 159, 0);
}

.parallax h1, .parallax h2{
  color: white;
  margin-top: 0px;
}

.parallax h1 {
  font-size: 73px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  display: inline-block;
  font-weight: 700;
  font-family: "Font Bold", sans-serif;
}

.parallax h2 {
  font-weight: 300;
  font-family: "Font Light", sans-serif;
  font-size: 38px;
}
